[general]
secret_code_size=8
public_code_size=6
; todo
authfail_on_httpfail=no

[webhook]
url=
; allowed variables: PUBLIC_CODE, PRIVATE_CODE. Todo: SOURCE_IP, DESTINATION_IP, HOSTNAME, USERNAME, AUTH_METHOD
json_data={"text":"SSH MFA CODE for session‌ PUBLIC_CODE: PRIVATE_CODE "}

; todo
timeout_seconds=10
